# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
*.sqlite3

# Docker env
django.env

# Django stuff:
*.log
local_settings.py

#django-datasci
/app/datasci/datasets/


# Except
!/app/datasci/datasets/
