Django==2.2.4
gunicorn==19.9.0
pytz==2019.1
djangocodemirror
django-codemirror-widget
psycopg2
requests
subprocess.run
numpy
scipy
scikit-learn
matplotlib
seaborn
pandas
nltk
xlrd
opencv-python
imutils
util