{% load staticfiles %}
{% load theme_tags %}
{% load html_escape %}
{% load view_tags %}

{% header %}
{% breadcrumb %}

<section class="content">
	<div class="row">
		<div class="col-lg-4">
			<div class="box box-primary">
			  <div class="box-body">
				<canvas class="dashboard-chart" data-pid="test" width="500" height="400"></canvas>
			  </div>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="box box-primary">
			  <div class="box-body">
				<canvas class="dashboard-chart" data-pid="bar-chart" width="500" height="400"></canvas>
			  </div>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="box box-primary">
			  <div class="box-body">
				<canvas class="dashboard-chart" data-pid="pine-chart" width="500" height="400"></canvas>
			  </div>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="box box-primary">
			  <div class="box-body">
				<canvas class="dashboard-chart" data-pid="chart-line-2" width="500" height="400"></canvas>
			  </div>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="box box-primary">
			  <div class="box-body">
				<canvas class="dashboard-chart" data-pid="radar-chart" width="500" height="400"></canvas>
			  </div>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="box box-primary">
			  <div class="box-body">
				<canvas class="dashboard-chart" data-pid="polar-chart" width="500" height="400"></canvas>
			  </div>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="box box-primary">
			  <div class="box-body">
				<canvas class="dashboard-chart" data-pid="donut-chart" width="500" height="400"></canvas>
			  </div>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="box box-primary">
			  <div class="box-body">
				<canvas class="dashboard-chart" data-pid="bar-chart-herizontal" width="500" height="400"></canvas>
			  </div>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="box box-primary">
			  <div class="box-body">
				<canvas class="dashboard-chart" data-pid="bar-chart-grouped" width="500" height="400"></canvas>
			  </div>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="box box-primary">
			  <div class="box-body">
				<canvas class="dashboard-chart" data-pid="mixed-chart" width="500" height="400"></canvas>
			  </div>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="box box-primary">
			  <div class="box-body">
				<canvas class="dashboard-chart" data-pid="buble-chart" width="500" height="400"></canvas>
			  </div>
			</div>
		</div>

	</div>
</section>

{% footer %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type="text/javascript" src="{% static "js/chartjs/utils.js" %}"></script>

<script>
$(document).ready(function() {
	var ctx = [];

	$(".dashboard-chart").each(function() {
		cid = $(this).attr('id');
		pid = $(this).attr('data-pid');
		show_chart($(this), pid);
	});

	function show_chart(chart, pid) {
		//alert('{% url "chart-dataset" %}' + pid);
		$.get('{% url "chart-dataset" %}' + pid, function(data) {
			ctx[pid] = chart.get(0).getContext("2d");
			new Chart(ctx[pid], data);
		});
	}

});
</script>
