{% load staticfiles %}
{% load theme_tags %}
{% load html_escape %}
{% header %}
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-sm-12">
            <h1>Editor</h1>
            {% block javascript %}
			
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css"/>		
			<link rel="stylesheet" href="{% static 'editor/editor.css' %}?{{ now }}"/>		
			
            <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
            
            <script type="text/javascript" src="{% static 'templates/admin-lte/bower_components/jquery/dist/jquery.min.js' %}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sortable/0.9.13/jquery-sortable-min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>   
				
            {% csrf_token %}
            <script language="JavaScript">
				var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

				function getCookie(name) {
					var cookieValue = null;
					if (document.cookie && document.cookie !== '') {
						var cookies = document.cookie.split(';');
						for (var i = 0; i < cookies.length; i++) {
							var cookie = jQuery.trim(cookies[i]);
							// Check if this cookie string begin with the name we want
							if (cookie.substring(0, name.length + 1) === (name + '=')) {
								cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
								break;
							}
						}
					}
					return cookieValue;
				}

				function csrfSafeMethod(method) {
					// these HTTP methods do not require CSRF protection
					return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
				}
				

			    function run_response(inbid, data)
			    {
					$("#ibid_pre_"+inbid).html("<b>L</b>oading...");
					$.ajaxSetup({
						beforeSend: function(xhr, settings) {
							if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
								xhr.setRequestHeader("X-CSRFToken", csrftoken);
							}
						}
					});

					try {
						//editor();
						form_get_query();

						$.ajax({ // create an AJAX call...
							data: { script : data }, // get the form data
							csrfmiddlewaretoken: csrftoken,
							type: 'post', // GET or POST
							url: '{% url "editor-runresponse" project_info.1 %}', // the file to call
							success: function(response) { // on success..
								//$('#DIV_CONTAINING_FORM').html(response); // update the DIV
								$("#ibid_pre_"+inbid).html(response);
								//console.log(response);
							}
						});
					} catch(e) {
						console.log(e);
					}

					return false;
			    }

                $(document).ready(function() {
					$('.submit-btn').click(function() {
						$('#form1').submit();
					});

                    $('#form1').submit(function() { // catch the form's submit event
                        $.ajaxSetup({
                            beforeSend: function(xhr, settings) {
                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                }
                            }
                        });
                        try {
							//editor();
					        form_get_query();

                            $.ajax({ // create an AJAX call...
                                data: $(this).serialize(), // get the form data
                                csrfmiddlewaretoken: csrftoken,
                                type: $(this).attr('method'), // GET or POST
                                url: $(this).attr('action'), // the file to call
                                success: function(response) { // on success..
                                    //$('#DIV_CONTAINING_FORM').html(response); // update the DIV 
                                    console.log(response);
                                    var result = $('#result');
                                    //result.html("");
                                }
                            });
                        } catch(e) {
                            console.log(e);
                        }

                        return false;
                    });
					
					$('.inp-command').keydown(function (e) {
						if (e.ctrlKey && e.keyCode == 13) {
							$('#form1').submit();
						}
					});

					$('.preview-btn').click(function() {
						$('#output_preview').html("<b>L</b>oading...");
						$.get('{% url "project-preview" project_info.1 %}', function(request) {
							$('#output_preview').html(request);
						});
					});

					$('.clearsession-btn').click(function() {
						$.get('{% url "project-session-clear" project_info.1 %}', function(request) {
							alert(request);
						});

					});
                });
            </script>
            {% endblock %}
            {% block content %}

			<!--
			<p>
				<textarea name="command" class="form-control inp-command" rows=10>{{ project_info.3 }}</textarea>
            </p>
			-->
			<div class="col-lg-12">
			<p>
				<button type="button" class="btn clearsession-btn btn-basic">Clear session</button>
			</p>
			</div>
			<div class="col-lg-12">
				<p>
					<button type="button" class="btn submit-btn btn-primary">Save</button>
					<button type="button" class="btn preview-btn btn-primary">Preview</button>
					<button type="button" class="btn add-console-btn btn-default">Add Console</button>
				</p>
				<form id="form1" action='{% url "editor-process" %}' method="post">
				<input id="script" type="hidden" name="script" value="{{ project_info.3 }}">
				<input type="hidden" name="pid" value="{{project_info.1}}">
				<p>
					<ul id="draggablePanelList" class="list-unstyled"></ul>
				</p>
				<p>
					<button type="button" class="btn submit-btn btn-primary">Save</button>
					<!--<button id="query_btn" type="button" class="btn btn-primary">Query</button>-->
					<button type="button" class="btn preview-btn btn-primary">Preview</button>
					<button type="button" class="btn add-console-btn btn-default">Add Console</button>
				</p>
				<p class="hide">
					<textarea id="json_value" name="json_value" class="form-control" spellcheck="false"></textarea>
				</p>
				</form>
				{% endblock %}
			</div>
			<!--
			<div class="col-lg-6">
				<h2>Result</h2>
				<div id="output_preview"></div>
			</div>
			-->
        </div>
    </div>
    <!-- /.content -->
</section>
{% footer %}

<script type="text/javascript" src="{% static 'editor/editor.js' %}?{{ now }}"></script>					
<script type="text/javascript" src="{% static 'editor/autosize.js' %}"></script>					
