{% load staticfiles %}
{% load theme_tags %}
{% load html_escape %}
{% header %}
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-sm-12">
            <h1>Editor</h1>
            {% block javascript %}
			
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css"/>		
			<link rel="stylesheet" href="{% static 'editor/editor.css' %}?{{ now }}"/>		
			
            <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
            
            <script type="text/javascript" src="{% static 'templates/admin-lte/bower_components/jquery/dist/jquery.min.js' %}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sortable/0.9.13/jquery-sortable-min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>   
				
			<script type="text/javascript" src="{% static 'editor/editor.js' %}?{{ now }}"></script>					
			<script type="text/javascript" src="{% static 'editor/autosize.js' %}"></script>					
            {% csrf_token %}
            <script language="JavaScript">
                $(document).ready(function() {
                    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Check if this cookie string begin with the name we want
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }

                    function csrfSafeMethod(method) {
                        // these HTTP methods do not require CSRF protection
                        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                    }

                    $('#form1').submit(function() { // catch the form's submit event
                        $.ajaxSetup({
                            beforeSend: function(xhr, settings) {
                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                }
                            }
                        });
                        try {
                            $.ajax({ // create an AJAX call...
                                data: $(this).serialize(), // get the form data
                                csrfmiddlewaretoken: csrftoken,
                                type: $(this).attr('method'), // GET or POST
                                url: $(this).attr('action'), // the file to call
                                success: function(response) { // on success..
                                    //$('#DIV_CONTAINING_FORM').html(response); // update the DIV 
                                    //console.log(response);
                                    var result = $('#result');
                                    result.html("");
									
                                    $.each(response[0], function(i, val) {
                                        result.append("<div>" + val + "</div>");
                                        //console.log(val);
                                    });

                                }
                            });
                        } catch(e) {
                            console.log(e);
                        }

                        return false;
                    });
					
					$('.inp-command').keydown(function (e) {
						if (e.ctrlKey && e.keyCode == 13) {
							$('#form1').submit();
						}
					});
                });
            </script>
            {% endblock %}
            {% block content %}
            {% url "editor-process" %}
			<!--
			<p>
				<textarea name="command" class="form-control inp-command" rows=10>{{ project_info.3 }}</textarea>
            </p>
			-->
            <form id="form1" action='{% url "get-output" %}' method="post">
			<p>
				<ul id="draggablePanelList" class="list-unstyled"></ul>
			</p>
			<p>
				<button id="query_btn" type="button" class="btn btn-primary">Query</button>
				<button id="add_console_btn" type="button" class="btn btn-default">Add Console</button>
			</p>
			<p>
				<div id="result"></div>
			</p>
			<p>
                <button type="submit" class="btn btn-primaray">Sign up</button>
			</p>
			<p>
				<textarea id="json_value" class="form-control"></textarea>
			</p>
            </form>
			{{ result }}
			<br>
			<div class="box box-primary">
				<div class="box-header with-border">
				  <h3 class="box-title">Result</h3>
				</div>
				<div class="box-body">
              		<p>
						<div id="result"></div>
					</p>
				</div>
			</div>
            {% endblock %}

        </div>
    </div>
    <!-- /.content -->
</section>
{% footer %}