<!DOCTYPE html>
<html lang="en">
<head>
  <title>Datasci Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron">
  <h1>{{ project_info.1 }}</h1> 
  <p>{{ project_info.2 }}</p> 
</div>
<div class="container">
	{% for out in output_list %}
	{% if out.type == "header" %}
		<h2>{{ out.val }}</h2>
	{% elif out.type == "text" %}
		<p>{{ out.val }}</p>
	{% elif out.type == "image" %}
		<img src="{{ out.val }}" />
	{% else %}
		{{ out.type }}
	{% endif %}
	{% endfor %}
</div>
</body>
</html>