{% load theme_tags %}
{% load html_escape %}

{% header %}
{% breadcrumb %}

<section class="content">
  <div class="row">
	<!-- left column -->
	<div class="col-sm-12">
	  <!-- general form elements -->

<div class="box box-primary">
  <div class="box-body">
  <h1>{{ project_info.1 }}</h1> 
  <p>{{ project_info.2 }}</p> 
	{% if error %}
		<p class="alert alert-danger">{{ error|safe }}</p>
	{% endif %}

	{% if output_print %}
		<p class="alert alert-info">{{ output_print|nlbr|safe }}</p>
	{% endif %}

	{% for out in output_list %}
	{% if out.type == "header" %}
		<h2>{{ out.val }}</h2>
	{% elif out.type == "text" %}
		<p>{{ out.val|safe }}</p>
	{% elif out.type == "code" %}
		<pre>{{ out.val }}</pre>
	{% elif out.type == "block" %}
		<p class="alert alert-secondary">{{ out.val|safe }}</p>
	{% elif out.type == "block-shadow" %}
		<p class="shadow p-3 mb-5 rounded">{{ out.val|safe }}</p>
	{% elif out.type == "tabledata" %}
		<table class='table'>
		<thead>
		{% for th in out.val.cols %}
			<th>{{ th }}</th>
		{% endfor %}
		</thead>
		<tbody>
		{% for tr in out.val.rows %}
			<tr>
			{% for td in tr %}
				<td>{{ td }}</td>
			{% endfor %}
			</tr>
		{% endfor %}
		</tbody>
		</table>
	{% elif out.type == "object" %}
		<table>
		<thead>
		{% for row in out.val %}
			<th>{{ row }}</th>
		{% endfor %}
		</thead>
		</table>
		<pre>{{ out.val }}</pre>
	{% elif out.type == "image" %}
		<img src="{{ out.val }}" class="img-responsive"/>
	{% elif out.type == "error" %}
		<p class="alert alert-warning">{{ out.val }}</p>
	{% elif out.type == "proc-error" %}
		<p class="alert alert-danger">{{ out.val }}</p>
	{% else %}
		{{ out }}
	{% endif %}
	{% endfor %}
  </div>
</div>

		</div>
	</div>
	<!-- /.content -->
</section>

{% footer %}
